<ion-header [translucent]="true">
  <ion-toolbar class="header">
    <ion-title class="header__title">
      TODOS
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list class="todos">
    <ion-item>
      <ion-input placeholder="Enter your todo" (ionChange)="handleChange($event)" ></ion-input>
    </ion-item>
    <ion-item *ngFor="let item of todoData;let indexOfelement=index;">
      <ion-label (click)="labelClick(indexOfelement)" [ngClass]="{'todos--remove': item.isFinish , 'todos--noremove': item.isFinish === false }">{{item.data}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
